.alert_container{
  position: absolute;
  background: rgba(198, 80, 80, 0.5);
  border: 0.5px solid  rgb(198, 80, 80);
  padding: 7px  40px;
  border-radius: 5px ;
  }

.alert_container h1{
  color: rgb(57, 18, 18);
  padding: 2px;
  text-shadow: none;
  font-size:  20px;
}